




img {
    height: 7cm;
    width: 7cm;
    align-self: center;
    position:inherit;
    margin: 5px;
}


.link {
    color:black;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    text-decoration-line:underline; 
    margin: auto;
    
}

#pasta {
  position:absolute;
  top: 93mm;
  left: 25mm;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 1px black solid;
  width: 2cm;
}

#rice {
  position:absolute;
  top: 93mm;
  left: 100mm;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 1px black solid;
  width: 2cm;
}

#fries {
    position:absolute;
  top: 93mm;
  left: 161mm;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 1px black solid;
  width: 4cm;
}

h1 {
    color:cornflowerblue;
    text-align: center;
    text-decoration: underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
